.modal-body{
	padding:0;
}
.modal-header{
	padding:0px;
	padding-left: 10px;
}

#steps {
    table-layout: fixed;
    width:100%;
}

#steps td {
    width: auto;
    height: 20px;
    overflow: hidden;
    background-color: rgb(166, 184, 166);
    border-color: rgb(76, 174, 76);
    border-width: 0px, 0px, 1px, 0px;
    color: rgb(255,255,255);
    margin:0px !important;
    padding:10px;
    font-size: 12pt !important;

}
#debtcontainer{
    width:100%;
    height:auto;

}
#debtcreator p{
    padding-top:10px;
    padding-left:7px;
}
#debtcreator input{
    width:100%;
}
.description textarea{
    width:100% !important;
}
.error{
    color:red;
}
.no-touch #stepcontacts tbody tr:hover{
    background-color: rgb(120, 184, 120) !important;
}

.expand{
    cursor: pointer;
    text-align: center;
    width: auto;
}

.detailedDebt tr{
    background-color:rgb(238, 238, 238);
}
.detailedDebt td{
    background-color:rgb(238, 238, 238);
}

#steps h3 {
    background-color: inherit;
    border-color: rgb(76, 174, 76);
    border-width: 0px;
    border-bottom-width: 1px;
    color: rgb(255,255,255);
    margin:0px !important;
    padding:10px;
    font-size: 12pt !important;
}

.contact{
    cursor: pointer;
}

.selected{
    background-color: rgb(92, 184, 92) !important;
}

.currentstep {
    background-color: rgb(92, 184, 92) !important;
}

.completedstep{
    background-color: rgb(120, 184, 120) !important;

}

.uncompletedstep{
    background-color: rgb(184, 184, 184) !important;
}

.stephidden {
    width:0;
    display:none;
    visibility: hidden;
}