body, html { height:100%; }

.modal-backdrop {
	z-index: 1000 !important;
}

.modal-content {
	border: none !important;
}

.dt-footer {
	z-index: 900 !important;
}

.dt-modal {
	z-index: 1100 !important;
}

.dt-debt-table-head {
	border-bottom: 2px solid #ddd;
	margin-bottom: 10px;
	font-weight: bold;
}
.navbar {
	margin-bottom: 0 !important;
}

.dt-debt-table {
	display: block;
}

.dt-debt-table-head-twice {
	width: 50% !important ;
}

.dt-debt-table-row > div {
	display: inline-block;
	width: 25%;
	margin-right: -4px;
}

.dt-debt-table-expand-section {
	background-color: lightgray;
}

.dt-contact-debt-table {
	display: block;
	float: left;
	overflow-x: scroll;
}

.dt-contact-debt-table-column {
	display: block;
	float: left;
	margin-right: 10px;
}

.dt-contact-debt-table-head {
	font-weight: bold;
	margin-right: 10px;
	border-right: 2px solid black;
	padding-right: 20px;
}