.dt-create-debt {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  /* bottom: 0; */
  /* top: 100px; */

  &__controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #337ab7;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
  }

  &__button {
    cursor: pointer;
    display: table-cell;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    height: 100%;
    line-height: 60px;
    margin: 0;
    padding: 10px;
    color: #fff;
    width: 100%;

    &[data-value="cancel"] {
      background-color: #d9534f;
      &:hover {
        background-color: #c9302c;
      }
    }

    &[data-value="submit"] {
      background-color: #5cb85c;
      &:hover {
        background-color: #449d44;
      }
    }

    &:hover {
      background-color: #286090;
    }
  }

  &__container {
    width: 100%;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* height: 100%; */
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    /* margin-top: -60px; */
    /* padding-top: 60px; */
    top: 60px;
    position: absolute;
    bottom: 0;
  }

  &__progress-bar {
    height: 60px;
    line-height: 60px;
    color: white;
    display: inline-block;
    width: 100%;
    background-color: lightgray;
  }

  &__counter {
    height: 100%;
    display: block;
    background-color: lightgray;
    width: 15%;
    float: left;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

    &--complete {
      background-color: #449d44;
    }

    &--text {
      display: inline-block;
      overflow: hidden;
      float: right;
      margin-left: 10px;
      max-width: 80%;
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
      min-width: 63%;
      font-size: 1.3em;
    }

    &--step-container {
      max-width: 70px;
    }

    &--step {
      display: block;
      text-align: center;
      border: solid white 1px;
      width: 30px;
      height: 30px;
      margin: 15px auto 15px auto;
      border-radius: 100px;
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      line-height: 27px;
      font-size: 20px;
      padding: 0;
      font-weight: lighter;
    }

    & > .dt-create-debt__counter--text {
      float: left;
      display: none;
    }

    &--active {
      background-color: #5cb85c;
      width: 55%;

      & > .dt-create-debt__counter--step-container > .dt-create-debt__counter--step {
        float: left;
        margin-left: 10px;
      }

      & > .dt-create-debt__counter--text {
        float: left;
        display: block;
      }
    }
  }

  &__split-content {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: lightgray;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &--text {
      position: relative;

      & > h2 {
        text-align: center;
      }

      & > p {
        line-height: 100%;
        margin-top: 30%;
      }
    }

    &--container {
      height: 100%;
      width: 50%;
      margin: 0;
      display: inline-block !important;
      padding: 30px;

      &:hover {
        background-color: #5cb85c;
      }
    }
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }

  &__content {
    width: 100%;
    margin-top: 0;
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: top;

    &--margin {
      margin-top: 30px;
      padding: 0 30px;
    }

    &--scroll {
      overflow-y: scroll;
      padding-bottom: 80px;
      position: absolute;
      display: inline-block;
      top: 100px;
      width: 100%;
      bottom: 0;
      background-color: lightgray;
    }

    &--instructions {
      padding: 1rem 2rem;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      z-index: 100;
      /* margin-bottom: 30px; */
      display: inline-block;
      /* position: fixed; */
      line-height: 100px;
      height: 100px;
      width: 100%;

      & > h2 {
        margin-top: 0;
        font-size: 2.5rem;
      }

      & > h4 {
        font-size: 1.4rem;
        font-weight: normal;
      }
    }
  }

  &__li {
    display: block;
    width: 100%;
    background-color: lightgray;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 30px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px;
    padding-left: 10%;

    &:after {
      content: ' ';
      display: block;
      float: right;
      margin-right: 10%;
      border: solid white 2px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      font-size: 40px;
      text-align: center;
      padding-top: -4px;
      line-height: 16px;
    }

    &:hover {
      font-family: "Helvetica Neue";
      background-color: #449d44;
      &:after {
        content: '+';
      }
    }

    &--selected {
      background-color: #5cb85c;

      &:after {
        font-family: FontAwesome;
        content: "\f00c";
        font-size: 1.1em;
        line-height: 1.1em;
      }

      &:hover:after {
        content: '-';
        font-size: 40px;
        line-height: 16px;
      }
    }
  }

  &__input {
    margin: 0 30px;
    width: 60%;
    display: inline-block;

    &--field {
      outline: none;
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      padding-left: 5px;
      @include placeholder(gray);
    }

    &--input-span {
      position: absolute;
      display: block;
      left: 15px;
      top: 10px;
      z-index: 9;
      color: gray;
    }

    &--box {
      position: relative;
    }

    &--debt-total {
      padding: 10px 10px 10px 20px;
      border: none;
      text-align: right;
    }
  }

  &__slider {
    width: 100%;
    line-height: 30px;

    &__input {
      margin: 0 30px;
      width: 60%;
      display: inline-block;
    }

    & > input {
      width: 10%;
    }

    & > label {
      width: 30%;
      display: inline;
    }
  }
}